!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title= title
    %link{href: 'http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Lobster|Open+Sans',
          rel: 'stylesheet', type: 'text/css'}
    %link{rel: 'stylesheet', href: 'style.css'}
  %body

    %h1= title
    - categories.each do |category|
      %h2= category.id
      %table
        - category.entries.each_with_index do |entry, index|
          %tr{id: "#{category.id}-#{index}"}
            %td
              %code= entry.command
            %td
              %h3= entry.name
              %div= entry.notes
